.string {
  background-color: black; }

.fret-dot {
  line-height: 80px;
  font-size: 102px; }

.fret-note {
  display: table;
  margin: 0 auto; }

.string-container {
  display: flex;
  height: 50px; }

.fret-selected {
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 60px; }

.fret {
  background-color: blanchedalmond;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 0px 2px 0px 0px;
  position: relative; }

.fret-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.05;
  border-radius: 30px; }

.fret-w-0 {
  width: 10px; }

.fret-w-1 {
  width: 83.33333px; }

.fret-w-2 {
  width: 81.66667px; }

.fret-w-3 {
  width: 80px; }

.fret-w-4 {
  width: 78.33333px; }

.fret-w-5 {
  width: 76.66667px; }

.fret-w-6 {
  width: 75px; }

.fret-w-7 {
  width: 73.33333px; }

.fret-w-8 {
  width: 71.66667px; }

.fret-w-9 {
  width: 70px; }

.fret-w-10 {
  width: 68.33333px; }

.fret-w-11 {
  width: 66.66667px; }

.fret-w-12 {
  width: 65px; }

.fret-w-13 {
  width: 63.33333px; }

.fret-w-14 {
  width: 61.66667px; }

.fret-w-15 {
  width: 60px; }

.fret-w-16 {
  width: 58.33333px; }

.fret-w-17 {
  width: 56.66667px; }

.fret-w-18 {
  width: 55px; }

.fret-w-19 {
  width: 53.33333px; }

.fret-w-20 {
  width: 51.66667px; }

.fret-w-21 {
  width: 50px; }

.fret-w-22 {
  width: 48.33333px; }

.fret-w-23 {
  width: 46.66667px; }

.fret-w-24 {
  width: 45px; }
