.string-container {
  display: flex;
  height: 50px; }

.fret-selected {
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 60px; }

.fret {
  background-color: blanchedalmond;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 0px 2px 0px 0px;
  position: relative; }

.fret:hover > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.05;
  border-radius: 30px; }

.fret-w-0 {
  width: 10px; }

.fret-w-1 {
  width: 82.5px; }

.fret-w-2 {
  width: 80px; }

.fret-w-3 {
  width: 77.5px; }

.fret-w-4 {
  width: 75px; }

.fret-w-5 {
  width: 72.5px; }

.fret-w-6 {
  width: 70px; }

.fret-w-7 {
  width: 67.5px; }

.fret-w-8 {
  width: 65px; }

.fret-w-9 {
  width: 62.5px; }

.fret-w-10 {
  width: 60px; }

.fret-w-11 {
  width: 57.5px; }

.fret-w-12 {
  width: 55px; }

.fret-w-13 {
  width: 52.5px; }

.fret-w-14 {
  width: 50px; }

.fret-w-15 {
  width: 47.5px; }

.fret-w-16 {
  width: 45px; }

.fret-w-17 {
  width: 42.5px; }

.fret-w-18 {
  width: 40px; }

.fret-w-19 {
  width: 37.5px; }

.fret-w-20 {
  width: 35px; }

.fret-w-21 {
  width: 32.5px; }

.fret-w-22 {
  width: 30px; }

.fret-w-23 {
  width: 27.5px; }

.fret-w-24 {
  width: 25px; }
