.string {
    background-color: black;
    z-index: 100;
    height: 5px;

    // width should be dynamic
    width: 1600px;

    position: absolute;
    top: 24px;
}

.fret-dot {
    // Works ok but is VERY JANK and should be done properly
    line-height: 80px;
    font-size: 102px;
}

.fret-note {
    display: table;
    margin: 0 auto;
}

.string-container {
    // background-color: red;
    display: flex;
    height: 50px;
}

.fret-selected {
    background-color: red;
    width: 100%;
    height: 100%;
    border-radius: 60px;
}

.fret {
    background-color: blanchedalmond;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 0px 2px 0px 0px;

    // Makes the fret hover work
    position: relative;
}

.fret-overlay {
    width:100%;
    height:100%;
    position:absolute;
    border-radius:30px;
}

.fret-rel-interval {
    top: 10px;
    display: table;
    margin: 13px auto;
}


.fret-w-0 {
    width: 10px;
}

// Need a better calculation for the fret widths
// Also, consider moving this to the javascript side instead
$fret_i: 1;
$fret_i_max: 24;
@for $fret_i from 1 through $fret_i_max {
    .fret-w-#{$fret_i} {
        width: 85px - 40*$fret_i/$fret_i_max;
    }
}
